.divCheckout{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.buttonCheckout{
    text-align: center;
    margin-top: 2%;
}
.totalPrice{
    text-align: center;
}
.divDataCheckout{
    display: flex;
    justify-content: center;
    flex-direction: column;
}